---
import "../styles/global.css";
import PageLayout from "../layouts/PageLayout.astro";
import andreisorgCard from "../components/andreisorgCard.astro";
---

<PageLayout heading="Arrangør tilmelding">
  <p>Er du arrangør og vil gerne tilmelde dig Uge 44, så kan du gøre det ved at udfylde</p>
</PageLayout>
