---
import "../styles/global.css";
import PageLayout from "../layouts/PageLayout.astro";
import Introduktion from "../components/introduktion.astro";
import AndreisorgCard from "../components/andreisorgCard.astro";
import Deldinhistorie from "../components/deldinhistorie.astro";
---

<PageLayout heading="Arrangør tilmelding">
  <Introduktion
    title="Virtuel Sorggruppe"
    tekst1="Det kan være svært at vide præcis hvordan man bedst støtter og hjælper en person man holder af, som har mistet og står i en stor sorg. Det kan samtidig være svært for den sørgende at kommunikere sine behov, og det kan derfor være hårdt for både
      den sørgende og pårørende når nogen går bort."
    tekst2="Vi har derfor oprettet din “virtuelle sorggruppe”, hvor du uanset din situation kan læse om andres erfaringer og blive klogere på hvilke behov, tanker og følelser som oftest fylder, og som kan være en indgangsvinkel til den bedst mulige støtte."
  />

  <Deldinhistorie />

  <section>
    <h2>Mød andre i sorg</h2>
    <AndreisorgCard
      billede="/imgs/orangekram.png"
      titel="Maja 18 år"
      tekst="“Jeg mistede min far til kræft for lidt over et år siden.  Det føles stadig uvirkeligt nogle gange. I starten trak jeg mig fra mine venner og havde svært ved skolen. Det sværeste er de små ting, som når jeg gerne vil fortælle ham noget. Jeg prøver at tale mere om det nu, men det er stadig hårdt.”"
    />

    <AndreisorgCard
      billede="/imgs/brunkram.png"
      titel="Lucas, 21 år"
      tekst="“Min bedste ven døde i en trafikulykke sidste år, og det kom helt pludseligt. Jeg var meget vred i starten og følte, jeg skulle være stærk for de andre. Men vi har hjulpet hinanden ved at dele minder og tale om ham. Sorgen er der stadig, men den fylder på en anden måde nu.”"
      direction="left"
    />
    <AndreisorgCard
      billede="/imgs/pinkkram.png"
      titel="Sara 22 år"
      tekst="“Min storesøster mistede sit barn, og det påvirkede hele familien. Jeg følte mig lidt glemt i starten og vidste ikke, hvordan jeg skulle hjælpe. Med tiden har jeg lært, at det nogle gange er nok bare at være der. Det har ændret min måde at forstå sorg på.”"
    />
  </section>
</PageLayout>

<style>
  h1 {
    color: #1a4096;
    padding: 0.5em 0;
  }
  h2 {
    color: #32487a;
  }
  p {
    padding: 1em 0;
  }
  section {
    margin: 3em 3em;
    padding: 2em 0;
  }

  @media screen and (min-width: 768px) {
    h2 {
      max-width: 900px;
      margin: 0 auto;
    }
  }
</style>
