---
const { billede, titel, tekst } = Astro.props;
---

<div>
    <img src={billede} alt={titel} />
    <h3>{titel}</h3>
    <p>{tekst}</p>
</div>

<style>
    div {
        display: grid;
        grid-row: span 3;
        grid-template-rows: subgrid;
        gap: 10px;
        padding: 20px;
        align-items: center;
        justify-items: center;
    }

    h3 {
        color: #32487a;
    }

    p {
        color: #32487a;
    }

    img {
        max-width: 200px;
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 768px) {
        img {
            max-width: 300px;
        }
    }
</style>
