---

---

<article class="background">
  <div class="flex">
    <form>
      <h3>Har du lyst til at dele din historie?</h3>
      <p>Send din historie ind til os, så du kan hjælpe andre</p>
      <div class="form">
        <label>
          <input placeholder="*Navn" type="text" name="navn" required />
        </label>

        <label>
          <input placeholder="*Alder" type="text" name="alder" required />
        </label>

        <label>
          <textarea placeholder="*Historie" name="besked" required></textarea>
        </label>
      </div>
    </form>

    <img src="/public/imgs/brev.png" alt="brev med ikon på af sillhouetter" />
  </div>

  <style>
    .background {
      background-color: #bcceff;
      margin: 0;
      padding: 3em 0;
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.25em;
    }

    p {
      font-size: 0.95rem;
      margin-bottom: 0.5em;
    }

    @media screen and (width < 800px) {
      .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.5em;
        gap: 2em;
      }

      form {
        width: 100%;
      }

      .form {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        gap: 0.75em;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        padding: 0.8em 1em;
        border: 0;
        border-radius: 4px;
        font-size: 1rem;
      }

      textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 0.8em 1em;
        min-height: 140px;
        border: 0;
        border-radius: 4px;
        font-size: 1rem;
        resize: vertical;
      }

      img {
        max-width: 180px;
        height: auto;
      }
    }

    @media screen and (width >= 800px) {
      article {
      }

      .flex {
        display: flex;
        justify-content: space-evenly;
      }

      .form {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
      }

      input {
        padding-right: 23em;
        text-align: start;
        padding-bottom: 0.8em;
        margin-bottom: 1em;
        border: 0;
      }

      textarea {
        padding-right: 20em;
        padding-bottom: 10em;
        border: 0;
      }

      img {
        max-width: 300px;
        max-height: 200px;
        align-self: center;
      }
    }
  </style>
</article>
