---

---

<footer>
    <p>Har du spørgsmål?</p>
    <a href=""></a>
    <p>Uge 44 - fokus på døden</p>
    <p>Facebook</p>
    <p>Instagram</p>
    <img src="img/simpellogo.png" alt="Logo" />
</footer>
