---
import RundKnap from "./rundKnap.astro";
---

<footer>
  <section class="info">
    <div class="kontakt">
      <p>Har du spørgsmål?</p>
      <span class="knap">
        <RundKnap href="mailto:info@livogdoed.dk" tekst="Send os en mail" />
      </span>
    </div>
    <div>
      <p>Uge 44 - fokus på døden</p>
      <p><a href="https://www.instagram.com/uge_44/">Instagram</a></p>
      <p><a href="https://www.facebook.com/profile.php?id=61587160924694">Facebook</a></p>
    </div>
  </section>
  <img src="/imgs/simpellogo.svg" alt="Logo" />
</footer>

<style>
  footer {
    background-color: #bcceff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .kontakt {
    padding-bottom: 20px;
  }
  img {
    align-self: flex-end;
  }
  p {
    color: #1a4096;
    padding: 5px;
  }

  a {
    color: #1a4096;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media screen and (min-width: 768px) {
    footer {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
