---
import "../styles/global.css";
---

<section class="hero">
  <div class="hero__center">
    <img src="/imgs/herologo.svg" alt="UGE 44 fokus på døden" class="hero__logo" />
  </div>

  <div class="hero__image">
    <img src="/imgs/herokramblå.png" alt="" />
  </div>
</section>

<style>
  .hero {
    position: relative;
    background: #bcceff;
    min-height: 80vh;

    display: flex;
    flex-direction: column;

    /* plads til header så logo ikke ryger op under */
    padding-top: 90px;
  }

  /* centrer logo vertikalt-ish */
  .hero__center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -50px;
    margin-top: -50px;
  }

  /* logo styling */
  .hero__logo {
    width: 200px;
    height: auto;
  }

  /* illustration i bunden */
  .hero__image {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-top: 70px;
  }

  .hero__image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding-top: 0;
    margin-bottom: -80px;
    padding-bottom: -120px;
  }

  @media (min-width: 768px) {
    .hero {
      min-height: 75vh;

      display: flex;
      flex-direction: row; /* 🔥 vigtig */
      align-items: center;
      justify-content: space-between;
    }

    .hero__center {
      justify-content: flex-start;
      align-items: flex-start;
      flex: 1;
      padding-left: 300px;
      padding-bottom: 80px;
    }

    .hero__image {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0;
    }

    .hero__logo {
      width: 400px;
    }

    .hero__image img {
      max-width: 400px;
      padding: 0;
      display: block;
      margin-bottom: -115px;
    }
  }
</style>
