---
const { title, undertitle, tekst1, tekst2 } = Astro.props;
---

<section>
    <h1>{title}</h1>
    <h2>{undertitle}</h2>
    <p>{tekst1}</p>
    <p>{tekst2}</p>
</section>

<style>
    section {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    h1 {
        color: #1a4096;
    }
    h2 {
        color: #1a4096;
    }
    p {
        color: #1a4096;
    }

    @media screen and (min-width: 768px) {
        section {
            padding: 6rem;
        }
    }
</style>
