---

---

<section>
  <h1>Tag snakken</h1>
  <h2>Gør den svære snak nem(mere) - tips og aktiviteter</h2>
  <p>Det kan være både svært og grænseoverskridende at tale om døden. Samtidig kan det for mange være hårdt at tale om og fokus sættes måske hurtigt på noget andet for ikke at ødelægge den gode stemning.</p>
  <p>Vi har i den sammenhæng samlet en række tips og aktiviteter som kan flytte blik og fokus, skabe en hyggelig stemning, og hjælpe med at gøre en svær snak nem(mere)</p>
</section>

<style>
  section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  h1 {
    color: #1a4096;
  }
  h2 {
    color: #1a4096;
  }
  p {
    color: #1a4096;
  }

  @media screen and (min-width: 768px) {
    section {
      padding: 6rem;
    }
  }
</style>
