---
const { tekst, href, variant = "orange" } = Astro.props;
---

<a href={href} class={`btn btn--${variant}`}>
  {tekst}
</a>

<style>
  .btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: opacity 0.2s ease;
  }

  .btn:hover {
    opacity: 0.8;
  }

  .btn--blaa {
    background-color: #32487a;
    color: white;
  }

  .btn--lys {
    background-color: #bcceff;
    color: #ffffff;
  }

  .btn--orange {
    background-color: #ffc26b;
    color: #ffffff;
  }
</style>
